
  .main{
    padding: 20px;
    margin-left: 200px;
  /*   display: flex;
    flex-direction: row; */
  }

  #Iright{
    float: right;
width: 150px;



  }
  #Ileft{
    float: left;
    width: 200px;
  
  }
  #Icenter{
    width: 800px;
    margin-top: 10px;
  }
  #Isenter{
    margin-left: 100px;
  }
  .fristrow{
    
    /* display: flex;
    flex-direction: row; */
    width: 800px;
    margin-left: 30px;
  }
  .secoundrow{
    
    margin-top: -5px;
    margin-left: 30px;
    height: 500px;
/*     display: flex;
    flex-direction: row; */
  }
  .thirdrow{
   
    height: 120px;
    margin-left: 30px;
    margin-top: 30px;
    /* display: flex;
    flex-direction: row; */
  }
  .fourthrow{
    /* display: flex;
    flex-direction: row; */

  }
  .caption{
      width: 800px;
  }
  .fivethrow{
      width: 500px;
    
   

  }
  .sixthrow{
   /*  display: flex;
    flex-direction: row; */

  }