.smoll{
    color:
#393a39;
	
font-family :
Arial;
font-size:
14px;
font-weight:
400;

  }
  .caption{
    color:
    #393a39;
   
    text-align:
center;
    font-family:Arial;
    font-size:28px;
  }
  .undercaption{
    color: #393a39;

    font-family :Arial;
    font-size:16px;
    font-weight:400;
       
    text-align:center;
  }
  #sss{
    color:#393a39;
    font-family :
Arial;
font-size:
22px;
font-weight:
400;

  }
  #hhh{
      	
color:
#393a39;
font-family :
Arial;
font-size:
16px;
font-weight:
400;



  }